/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {    src: url(../fonts/Raleway/Raleway-Regular.ttf);   font-family: 'Raleway';    font-weight: 400; }
@font-face {    src: url(../fonts/Raleway/Raleway-SemiBold.ttf);   font-family: 'Raleway';    font-weight: 600; }
@font-face {    src: url(../fonts/Raleway/Raleway-Bold.ttf);    font-family: 'Raleway';    font-weight: 700; }