.b-maintext h1 {
  font-size: 36px;
  font-family: Raleway;
  line-height: 43px;
  margin: 100px 0 0px 0;
  text-transform: uppercase; }
.b-maintext .b-maintext-line {
  width: 65px;
  height: 2px;
  margin: 30px auto;
  background-color: #ff8b38;
  display: inline-block; }
.b-maintext .b-maintext-description {
  color: #86878b;
  font-family: OpenSansRegular;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 50px; }

.b-features-block {
  width: 270px;
  height: 130px;
  background-color: #f5f5f5;
  padding: 17px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px; }
  .b-features-block ::after {
    content: "";
    position: absolute;
    left: 100px;
    bottom: 72px;
    border: 10px solid transparent;
    border-top: 10px solid #f5f5f5; }
  .b-features-block i {
    color: #86878b;
    font-family: OpenSansRegular;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px; }

.b-person {
  display: inline-block;
  margin-left: -53px; }
  .b-person img {
    margin: -30px 20px 0 0; }
  .b-person .b-person-name {
    display: inline-block; }
    .b-person .b-person-name h3 {
      font-family: OpenSansBold;
      font-size: 20px; }
    .b-person .b-person-name p {
      font-family: OpenSansRegular;
      color: #86878b; }

.b-person-middle {
  margin-left: -72px; }

.b-picture {
  height: 320px;
  margin-top: 100px;
  background: url("../img/bg.jpg") no-repeat center;
  color: #fff;
  background-size: 100% 320px; }
  .b-picture .mask {
    width: 100%;
    height: 320px;
    background-color: #000;
    opacity: 0.5;
    position: absolute; }
  .b-picture .b-maintext {
    z-index: 9999999;
    position: relative; }
    .b-picture .b-maintext h1 {
      margin: 60px 0 0px 0; }
    .b-picture .b-maintext .b-maintext-line {
      background-color: #fff; }
    .b-picture .b-maintext .b-maintext-description {
      font-family: Raleway;
      margin-bottom: 25px; }
    .b-picture .b-maintext .b-maintext-link {
      padding: 18px 53px;
      color: #fff;
      text-transform: uppercase;
      display: inline-block;
      border: 2px solid; }
    .b-picture .b-maintext .b-maintext-link:hover {
      opacity: 1.1; }

/*# sourceMappingURL=style.css.map */
